/* Center the list container */
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Center the counter */
.counter {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style the movies list */
.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
  /* align-items: center; */
  list-style-type: none;
  width: 100%;
  max-width: 900px;
}

/* Style each movie item */
.movie-item {
  background-color: #3d3c3c00;
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 5px; /* Reduced padding */
  text-align: center;
  width: 180px; /* Set specific width */
  height: 205px; /* Set specific height */
  box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

/* Movie title styling */
.movie-item h2 {
  font-size: 1rem; /* Reduced font size */
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px; /* Reduced margin */
}

/* Delete button styling */
.btn {
  display: inline-block;
  padding: 5px 10px; /* Reduced padding */
  font-size: 0.9rem; /* Reduced font size */
  font-weight: bold;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #b92130;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .movies-list {
    grid-template-columns: 1fr;
  }
}
